$app-primary-palette: mat-palette($mat-indigo);
$app-accent-palette: mat-palette($mat-pink, 'A200', 'A100', 'A400');
$app-light-theme: mat-light-theme($app-primary-palette, $app-accent-palette);

@media screen and (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  @include angular-material-theme($app-light-theme);
  @include global-theme($app-light-theme);
}
