.demo-fill-width {
  width: 100%;
  min-width: 0;
}

.demo-fill-height {
  height: 100%;
  min-height: 0;
}

.demo-scrolling-container {
  position: relative;
}

.demo-absolute-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body,
html {
  padding: 0;
  margin: 0;
}
