.app-fill-width {
  width: 100%;
  min-width: 0;
}

.app-fill-height {
  height: 100%;
  min-height: 0;
}

.app-scrolling-container {
  position: relative;
}

.app-absolute-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body,
html {
  padding: 0;
  margin: 0;
}

.mat-icon {
  user-select: none;
}

.mat-button,
.mat-icon-button,
.mat-flat-button,
.mat-raised-button {
  text-transform: uppercase;
  font-weight: 600;
}

.mat-tab-group .mat-tab-body .mat-ripple .mat-ripple-element {
  // The ripple color is bugged inside mat-tab-group https://github.com/angular/components/issues/14819
  background-color: currentColor;
}
