@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$font-family: 'Rubik', sans-serif;

html,
body {
  font-family: $font-family;
}

$nb-themes: nb-register-theme(
  (
    font-family-primary: $font-family,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    font-family-primary: $font-family,
  ),
  dark,
  dark
);
