<nb-layout>
  <nb-layout-header fixed>
    <div class="app-root__header-content app-fill-width">
      <h4 class="app-root__app-title-container">
        <span>ngx-rating</span>
      </h4>
      <div class="app-root__theme-toggle-container">
        <nb-toggle labelPosition="start" [checked]="isDarkTheme$ | async" (checkedChange)="onThemeToggled($event)">
          Dark Theme
        </nb-toggle>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
