<main class="mat-app-background app-fill-height">
  <app-layout class="app-fill-height app-fill-width app-news-container__layout">
    <app-toolbar>
      <app-toolbar-left fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <span class="app-root__title">ngx-rating</span>
      </app-toolbar-left>
      <app-toolbar-right>
        <button mat-button>
          <mat-icon svgIcon="github" class="app-root__btn-icon"></mat-icon>
          <span>Github</span>
        </button>
      </app-toolbar-right>
    </app-toolbar>
    <app-layout-content>
      <router-outlet></router-outlet>
    </app-layout-content>
  </app-layout>
</main>
